mat-card {
    width: 50%;
    margin: 24px auto;
    padding: 32px;

    .newidea-form {
        display: flex;
        flex-direction: column;
        mat-form-field {
            margin-bottom: 6px;
        }
    }
}
