<div class="ideas-container">
    <mat-progress-spinner *ngIf="ideas.length===0" mode="indeterminate" diameter="40"></mat-progress-spinner>
    <mat-card class="idea" *ngFor="let idea of ideas;index as i">
        <mat-card-header>
            <mat-card-title matBadge="{{idea.votes}}"><a [routerLink]="idea.id">{{idea.name}} {{i}}</a></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ idea!.description }}</p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <app-vote [(idea)]="ideas[i]"></app-vote>
            <button mat-button (click)="editIdea(idea)"><mat-icon>edit</mat-icon></button>
            <button mat-button (click)="deleteIdea(idea)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>
