.ideas-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .idea {
        margin-bottom: 10px;
        width: 60%;
    }
    .ideas-search {
        width: 40%;
        display: flex;
        justify-content: center;
        mat-form-field {
            width: 100%;
            font-size: 0.9em;
            text-align: center;
            input {
                text-align: center;
            }
        }
    }
    .founded-ideas-number {
        width: 60%;
        text-align: left;
        margin-bottom: 10px;
    }
}