<div class="ideas-container">
    <div class="ideas-search">
        <mat-form-field appearance="outline">
            <!--<mat-label>keresés</mat-label>-->
            <input matInput placeholder="keresés" [(ngModel)]="search" (keydown.enter)="beginSearch()">
        </mat-form-field>
    </div>
    <mat-progress-spinner *ngIf="listInProgress" mode="indeterminate" diameter="40"></mat-progress-spinner>
    <div class="founded-ideas-number">
        Találatok száma: {{ideas.length}}
    </div>
    <mat-card class="idea" *ngFor="let idea of ideas;index as i">
        <mat-card-header>
            <mat-card-title matBadge="{{idea.votes}}"><a [routerLink]="idea.id">{{idea.name}}</a></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ idea!.description }}</p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <app-vote [(idea)]="ideas[i]"></app-vote>
            <button mat-button (click)="editIdea(idea)"><mat-icon>edit</mat-icon></button>
            <button mat-button (click)="deleteIdea(idea)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>
