.ideas-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .idea {
        margin-bottom: 10px;
        width: 60%;
    }
}
mat-progress-spinner {
    width: 40px !important;
    height: 40px !important;
}